<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Converter: PDF to MP3 - UI</title>
</head>
<body>
    <h1>Converter: PDF to MP3 - UI</h1>
    <form method="post" enctype="multipart/form-data" th:object="${converterFile}">
        <input type="file" th:field="*{file}" th:value="${file}">
        <button>Submit</button>
    </form>
    <div th:object="${converterFile}">
        <div th:each="storedFile : *{storedFiles}">
            <a th:href="${storedFile.id}" th:text="${storedFile.filename}"></a>
        </div>
    </div>
</body>
</html>