<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Converter: PDF to MP3 - UI</title>
    </head>
    <body>
        <h1>Converter: PDF to MP3 - UI</h1>
        <form method="post" th:action="@{/registration}" th:object="${userRegistration}">
            <div>
                <div>
                    <label th:for="username">Username:</label>
                    <input type="text" th:id="username" th:field="*{username}">
                </div>
                <div>
                    <label th:for="password">Password:</label>
                    <input type="text" th:id="password" th:field="*{password}">
                </div>
            </div>
            <div>
                <button>Registration</button>
            </div>
        </form>
    </body>
</html>